

.section-title h2.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title h2.title {
      font-size: 40px; } }
  @media only screen and (max-width: 767px) {
    .section-title h2.title {
      font-size: 32px;
      line-height: 43px; } }

.section-title p {
  line-height: 30px;
    color: var(--color-gray);
    font-size: 29px;
    font-stretch: inherit;
    font-family: cursive;
    font-weight: lighter;}
  .section-title p a {
    color: #1d1d24;
    font-weight: 500; }
    .section-title p a:hover {
      color: var(--color-primary); }
  @media only screen and (max-width: 767px) {
    .section-title p br {
      display: none; } }

.section-title span.subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px; }

.section-title h3 {
  font-size: 36px;
  line-height: 26px; }
  @media only screen and (max-width: 767px) {
    .section-title h3 {
      font-size: 26px;
      margin-bottom: 8px; } }

.section-title .service-btn {
  margin-top: 36px; }
  @media only screen and (max-width: 767px) {
    .section-title .service-btn {
      margin-top: 12px; } }

.section-title.service-style--2 h2,
.section-title.service-style--2 h3 {
  color: #ffffff; }

.section-title.service-style--2 p {
  padding: 0 21%;
  font-weight: 300;
  color: #ffffff; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title.service-style--2 p {
      padding: 0 7%; } }
  @media only screen and (max-width: 767px) {
    .section-title.service-style--2 p {
      padding: 0; } }

.section-title.service-style--3 p {
  padding: 0 21%;
  font-weight: 300;
  color: #717173; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title.service-style--3 p {
      padding: 0 7%; } }
  @media only screen and (max-width: 767px) {
    .section-title.service-style--3 p {
      padding: 0; } }

.section-title.service-style--3.text-left p {
  padding: 0 3% 0 0; }

.section-title-default h2.title {
  line-height: 1.34;
  font-size: 48px; }

@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 36px;
    margin-bottom: 7px; } }



    .theme-gradient, a.btn-transparent, .section-title span.subtitle {
      background: var(--color-primary);
      background: linear-gradient(
  120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--color-primary) 79.69%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)',GradientType=1 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
  }


  .standard-service .thumbnai img {
    border-radius: 5px; }
  
  .standard-service .content h3 {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600; }
    .standard-service .content h3 a {
      color: #1f1f25; }
      .standard-service .content h3 a:hover {
        color: var(--color-primary); }
  
  .standard-service .content p {
    font-size: 15px;
    line-height: 24px; }
  
  .text-center .service.service__style--2,
  .text-left .service.service__style--2 {
    padding: 60px 45px; }
    @media only screen and (max-width: 767px) {
      .text-center .service.service__style--2,
      .text-left .service.service__style--2 {
        padding: 30px 14px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .text-center .service.service__style--2,
      .text-left .service.service__style--2 {
        padding: 30px 14px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .text-center .service.service__style--2,
      .text-left .service.service__style--2 {
        padding: 30px 14px; } }
  
  .service-white .service__style--1 {
    z-index: 2;
    text-align: center; }
    .service-white .service__style--1 .icon {
      margin-bottom: 22px; }
      .service-white .service__style--1 .icon svg {
        font-size: 60px;
        stroke-width: 1;
        color: var(--color-primary);
        width: 60px;
        height: 60px; }
    .service-white .service__style--1 .content h4.title {
      color: var(--color-white); }
    .service-white .service__style--1 .content p {
      color: #bfbdbd;
      padding: 0 30px; }
      @media only screen and (min-width: 1200px) and (max-width: 1599px) {
        .service-white .service__style--1 .content p {
          padding: 0; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .service-white .service__style--1 .content p {
          padding: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .service-white .service__style--1 .content p {
          padding: 0; } }
      @media only screen and (max-width: 767px) {
        .service-white .service__style--1 .content p {
          padding: 0; } }
          .service-main-wrapper .service.service__style--1 {
            padding: 40px 0;
            z-index: 2;
            text-align: center; }
            @media only screen and (max-width: 767px) {
              .service-main-wrapper .service.service__style--1 {
                padding: 15px 0; } }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .service-main-wrapper .service.service__style--1 {
                padding: 20px 0; } }
            .service-main-wrapper .service.service__style--1 .icon img {
              margin-bottom: 34px; }
              @media only screen and (max-width: 767px) {
                .service-main-wrapper .service.service__style--1 .icon img {
                  margin-bottom: 14px;
                  height: 53px; } }
              @media only screen and (max-width: 575px) {
                .service-main-wrapper .service.service__style--1 .icon img {
                  margin-bottom: 13px;
                  height: 45px; } }
            .service-main-wrapper .service.service__style--1 .content h4.title {
              margin-bottom: 20px;
              font-weight: 400;
              font-size: 24px; }
              @media only screen and (max-width: 767px) {
                .service-main-wrapper .service.service__style--1 .content h4.title {
                  margin-bottom: 12px;
                  font-weight: 400;
                  font-size: 20px; } }
              @media only screen and (max-width: 575px) {
                .service-main-wrapper .service.service__style--1 .content h4.title {
                  margin-bottom: 9px;
                  font-size: 18px; } }
            .service-main-wrapper .service.service__style--1 .content p {
              opacity: 0.75;
              font-weight: 300; }
          
          .service-main-wrapper .service.service__style--2 {
            padding: 30px 35px;
            transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
            z-index: 2;
            border-radius: 10px;
            background-color: #ffffff;
            margin-top: 30px; }
            @media only screen and (min-width: 1200px) and (max-width: 1599px) {
              .service-main-wrapper .service.service__style--2 {
                padding: 30px 28px; } }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .service-main-wrapper .service.service__style--2 {
                padding: 30px 25px; } }
            @media only screen and (max-width: 767px) {
              .service-main-wrapper .service.service__style--2 {
                padding: 30px 14px; } }
            @media only screen and (max-width: 575px) {
              .service-main-wrapper .service.service__style--2 {
                padding: 30px 18px;
                margin-top: 30px; } }
            .service-main-wrapper .service.service__style--2 .icon {
              font-size: 45px;
              font-weight: 400;
              margin-bottom: 23px;
              color: var(--color-primary);
              text-align: center;
              border-radius: 100%;
              display: flex;
              justify-content: center; }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .service-main-wrapper .service.service__style--2 .icon {
                  margin-bottom: 11px; } }
              .service-main-wrapper .service.service__style--2 .icon svg {
                stroke-width: 1 !important;
                width: 47px;
                height: 47px; }
            .service-main-wrapper .service.service__style--2 .content h3.title {
              margin-bottom: 19px;
                  font-weight: 600;
                  font-family: ui-monospace;
                  font-size: 20px;
                  font-variant-caps: petite-caps; }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .service-main-wrapper .service.service__style--2 .content h3.title {
                  margin-bottom: 8px; } }
              .service-main-wrapper .service.service__style--2 .content h3.title a {
                color: inherit; }
            .service-main-wrapper .service.service__style--2 .content p {
              color: var(--color-gray);
              font-size: var(--font-size-b1);
              line-height: var(--line-height-b1);
              font-size: 26px;
              font-family: 'Font Awesome 5 Free';
              color: chartreuse;
            }
            .service-main-wrapper .service.service__style--2:hover {
              box-shadow: 0px 2px 70px 0px rgba(253, 71, 102, 0.05);
              transform: translateY(-5px); }
            .service-main-wrapper .service.service__style--2.service-left-align {
              display: flex;
              padding: 50px 24px; }
              .service-main-wrapper .service.service__style--2.service-left-align .icon {
                padding-right: 20px; }
            .service-main-wrapper .service.service__style--2.bg-gray {
              background: #ab8e8ec7; }
              .service-main-wrapper .service.service__style--2.bg-gray:hover {
                box-shadow: 0px 2px 70px 0px rgba(71, 85, 83, 0.103);
                transform: translateY(-5px); }
            .service-main-wrapper .service.service__style--2.text-left {
              padding: 50px; }
              @media only screen and (min-width: 1200px) and (max-width: 1599px) {
                .service-main-wrapper .service.service__style--2.text-left {
                  padding: 40px 30px; } }
              @media only screen and (min-width: 992px) and (max-width: 1199px) {
                .service-main-wrapper .service.service__style--2.text-left {
                  padding: 40px 30px; } }
              @media only screen and (min-width: 768px) and (max-width: 991px) {
                .service-main-wrapper .service.service__style--2.text-left {
                  padding: 40px 30px; } }
              @media only screen and (max-width: 767px) {
                .service-main-wrapper .service.service__style--2.text-left {
                  padding: 40px 30px; } }
              @media only screen and (max-width: 575px) {
                .service-main-wrapper .service.service__style--2.text-left {
                  padding: 32px 23px; } }
              .service-main-wrapper .service.service__style--2.text-left .icon {
                justify-content: left; }
          
          .service-main-wrapper > [class*="col"]:nth-child(2) .service.service__style--2 .icon {
            color: var(--color-secondary); }
          
          .service-main-wrapper > [class*="col"]:nth-child(3) .service.service__style--2 .icon {
            color: #12d8df; }
          
          .service-main-wrapper > [class*="col"]:nth-child(4) .service.service__style--2 .icon {
            color: #59C98D; }
          
          .service-main-wrapper > [class*="col"]:nth-child(5) .service.service__style--2 .icon {
            color: #6F41F6; }
          
          .service-main-wrapper > [class*="col"]:nth-child(6) .service.service__style--2 .icon {
            color: #357FF6; }
          
          .service-main-wrapper > [class*="col"]:nth-child(7) .service.service__style--2 .icon {
            color: #f767b4; }
          
          .service-main-wrapper > [class*="col"]:nth-child(8) .service.service__style--2 .icon {
            color: #fbe973; }
            .rty {
              font-size: 22px;
              color: black;
              background-color: chocolate;
              margin: 43px 0px 0px 0px;
          }
          p.text_p {
            text-align: center;
            color: currentColor;
            font-size: 30px;
            font-variant-caps: petite-caps;
            font-style: revert;
            font-weight: 800;
        }
        .text_area {text-align: center;
          font-size: 20px;
          font-weight: 400;
          font-variant: petite-caps;
          color: #0e0d0e;
      } 


      .img_cc {
        width: auto;
        height: 600px;
        margin-top: 60px;
    }

    .button_C {
      width: 147px ;  height: 32 px  ;
      background-color: beige;
      border-radius: 53 px;
      padding: 5px 42px;
      color: cadetblue;
      font-variant: all-small-caps;
      font-weight: 700;
      font-family: monospace;
  }
  .button_C:hover {
    background: #666;
    color: #c1e1e0;
}
  .li_mar{ 
  padding: 17px 9px;  
  }
  .content-section.newfile_cap_re {
    text-align: center;
    margin: 39px 346px 88px  321px ;  padding: 46px 0px;
    background-color: #c3e1a6;
    font-size: 16px;
    border-radius: 16px ;
    font-family: math;
    border: 0px 0px red;
    border: double;
    box-shadow: 4px 6px 18px 9px #993d3d;
    transform-box: view-box;
}
h1.detail_head {
  text-align: center;
}
section.form_det {
  background-color: #a79b8b5e;
  margin-bottom: -65px;
  padding: 30px 0px ;
}
input#submit {
  padding: 0px 0px ;
  background-color: #ccffee6e;
  color: black;
  width: 260px;  height: 43px;  margin: 0px 201px;  font-family: cursive;  font-size: 26px;}
img.img-fluid.trtrt {
  border-radius: 48px;
  /* box box-shadow: none; */
  box-shadow: -17px 12px 11px 1px #ccc;
}
img.img-fluid.toppt {
  width: 540px;  height: 359px;
  
  border-radius: 28px;
  /* box box-shadow: none; */
  box-shadow: -17px 12px 11px 1px #ccc;
}
.trtrrr{
  margin: 1px 3px 1px 250px;
    width: 239px;    height: 37px;
}
.file-field.form_topics_tt {
  margin: 5px 0px 23px 79px;
  width: 381px;  /* border: 2
px
; */
  /* border-radius: 2
px
; */
}
.ytttp_t{
  margin: 9px 0px 0px -312px;    width: 295px;    height: auto;    border-radius: 12px;    text-align: center;}

  section.form_topics_bor {
    margin: -35px 0px 3px 362px;   border: linen;    width: 561px;    height: 408px;    background-color: #7f8f6f;
        border-radius: 36px;    box-shadow: -7px 7px 10px 1px burlywood;} 
        p.topixc_hrd {
          font-size: 25px;
          text-align: center;
          padding: 5px 0px;          font-style: italic;
          font-family: cursive;
          font-variant-caps: all-petite-caps;
      }